:root{
    --liver: #3E363F;
    --lemon-chiffon: #FFFCE8;
    --opal: #FFF700;
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--liver);
}

nav{
    display: flex;
    position: relative;
    width: 400px;
    height: 70px;
    justify-content: center;
    align-items: center;
    background-color: var(--lemon-chiffon);
    border-radius: 10px;
}

nav ul{
    display: flex;
    width: 350px;
}

nav ul li{
    position: relative; 
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}

nav ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
    text-decoration: none;
    color: var(--liver);
}

nav ul li a .icon{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    right: -3px;
}

nav ul li.active a .icon{
    transform: translateY(-35px);
    transition: 0.9s;
}

nav ul li a .text{
    position: absolute;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    opacity: 0;
    transform: translateY(16px);
}

nav ul li.active a .text{
    opacity: 1;
    transition: 1.3s;
    transform: translateY(11px);
}

.indicator{
    background-color: var(--opal);
    position: absolute;
    top: -50%;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 3px solid var(--liver);
    transition: 0.9s;
}

.indicator::before{
    content: '';
    position: absolute;
    top: 47%;
    left: -13px;
    background-color: transparent;
    border-top-right-radius: 7px;
    box-shadow: 0 -7px 0 0 var(--liver);
    width: 10px;
    height: 10px;
}

.indicator::after{
    content: '';
    position: absolute;
    top: 47%;
    right: -13px;
    background-color: transparent;
    border-top-left-radius: 7px;
    box-shadow: 0 -7px 0 0 var(--liver);
    width: 10px;
    height: 10px;
}

nav ul li:nth-child(1).active ~ .indicator{
    transform: translateX(calc(70px * 0));
}

nav ul li:nth-child(2).active ~ .indicator{
    transform: translateX(calc(70px * 1));
}

nav ul li:nth-child(3).active ~ .indicator{
    transform: translateX(calc(70px * 2));
}

nav ul li:nth-child(4).active ~ .indicator{
    transform: translateX(calc(70px * 3));
}

nav ul li:nth-child(5).active ~ .indicator{
    transform: translateX(calc(70px * 4));
}